@import "tailwindcss";
@import "./styles/token.css";
@import "./styles/components.css";

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}


@theme {
  --color-mayekawa: #2a594f;
  /* 覆蓋或新增自定義斷點 */
  --breakpoint-tablet: 640px;
  --breakpoint-laptop: 1024px;
  --breakpoint-desktop: 1280px;

  /* 如果你想修改預設的 md 尺寸也可以這樣寫 */
  --breakpoint-md: 800px;
}

:root {
  /* Site specific theme customizations */
  --font-base: 'Inter', 'sans-serif';
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevent default scrolling as we manage it */
  font-family: var(--font-base);
  position: fixed;
  inset: 0;
  overscroll-behavior: none;
  touch-action: none; /* Disable all touch actions */
}

#app {
  width: 100%;
  height: 100%;
}
